%h4
  Social Media
%ul
  %li
    = link_to "Website", profile.website
  %li
    = link_to "Twitter", profile.twitter
  %li
    = link_to "Soundcloud", profile.soundcloud
  %li
    = link_to "Mixcloud", profile.mixcloud
  %li
    = link_to "Facebook", profile.facebook
