.profile__stat__row
  .outer-container
    %div{ class: ["profile__stat--link", ("profile__stat--active" if controller.action_name == "followers")] }
      = link_to followers_profile_path(profile) do
        %h5 Followers
        %h3
          = profile.followers.count

    %div{ class: ["profile__stat--link", ("profile__stat--active" if controller.action_name == "following")] }
      = link_to following_profile_path(profile) do
        %h5 Following
        %h3
          = profile.follows.count

    %div{ class: ["profile__stat--link", ("profile__stat--active" if controller.action_name == "index")] }
      = link_to profile_gigs_path(profile) do
        %h5 Gigs
        %h3
          = profile.gigs.count

    .profile__stat
      %h5 Member Since
      %h3
        = member_since_date(profile.user.created_at)

