.event
  = event_flyer_image(event)
  .event__info

    .event__header
      %h2.event__header__title
        = link_to event.title, event

    .event__djs
      %h5
        DJs
      %ul
        - event.profiles.each do |profile|
          %li
            = link_to profile.name, profile
    .event__venue
      %h5
        = fa_icon "map-marker"
        Location
      .event__info__detail
        = link_to event.venue_name, event.venue
    .event__date
      %h5
        = fa_icon "calendar"
        Date and Time
      .event__info__detail
        = format_date(event.start_date)
      .event__info__detail
        = format_time(event.start_time)

    .event__actions
      .event__actions__element
        = render partial: "events/like", locals: { event: event }
      .event__actions__element
        .button
          = "Tickets"
      .event__actions__element
        .button
          = "Calendar"

    .event__description
      %p
        = event.description
    .event__attendees
      = event.likes_count
      Going

    .tags
      %h5
        Genres
      = render event.tags
    - if user_signed_in? && user_owns_event?(event)
      .event__edit-options
        = link_to 'Edit', edit_event_path(event)
        = link_to 'Remove', edit_event_path(event)
