.event
  = event_flyer_image(event)
  .event__info
    .event__header
      .event__info__detail
        = link_to event.venue_name, event.venue
      %h2.event__header__title
        = link_to event.title, event
      .event__info__detail
        = format_date(event.start_date) + " / " + format_time(event.start_time)
    .event__follows
      = render partial: "events/like", locals: { event: event }

    .event__djs
      .event__info__detail with DJs
      - if event.profiles.count > 0
        %ul
          - event.profiles.each do |profile|
            %li
              - last = event.profiles[-1]
              - if profile == last && event.profiles.length > 1
                = "and"
              = link_to profile.name, profile
      - else
        %p.event__info__detail There are no djs on this lineup

    .event__tags
      .tags
        - event.tags.each do |tag|
          = link_to tag.name, tag_path(tag)

    - if user_signed_in? && user_owns_event?(event)
      .event__edit-options
        = link_to 'Edit', edit_event_path(event)
        = link_to 'Remove', edit_event_path(event)
