.event
  .event__info
    .event__header
      %h2.event__header__title
        = link_to event.title, event
    .event__djs
      %ul
        - event.profiles.each do |profile|
          %li
            = link_to profile.name, profile
    .event__actions
      .event__actions__element
        = render partial: "events/like", locals: { event: event }
      .event__actions__element
        .button
          = "Tickets"
      .event__actions__element
        .button
          = "Calendar"
      .event__actions__element
        .button
          = "Tickets"
    .outer-container
      .event__info__detail
        = fa_icon "calendar"
        = link_to event.venue_name, event.venue
      .event__info__detail
        = fa_icon "calendar"
        = format_date(event.start_date)
      .event__info__detail
        = fa_icon "clock-o"
        = format_time(event.start_time)
    .tags
      = render event.tags
  = event_flyer_image(event)
  .event__edit-options
    - if user_signed_in? && user_owns_event?(event)
      = link_to 'Edit (created by you)', edit_event_path(event)
