= form_for @event, html: { multipart: true } do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = f.label :flyer
    = f.file_field :flyer
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :event_link
    = f.text_field :event_link

  .field
    = f.select :venue_id, options_from_collection_for_select(Venue.all, :id, :name)

  .venue-notice
    %h4 Your venue is not here?
    = link_to("Add Venue", new_venue_path)

  .actions
    = f.submit 'Save'
