.follow
  .follow__text
    %span.follow__count
      = event.likes_count
    Going

  - if current_user
    - if like = current_user.likes.find_by(event_id: event.id)
      = link_to "Destroy", like, method: :delete, data: { test: like.id }, :remote => true, :class => "follow__button follow__button--active destroy-button"

    - else
      = form_for Like.new(event: event), remote: true do |f|
        = f.hidden_field(:event_id, value: event.id)
        = f.button form_icon("check"), id: "add_like",  type: "submit", class: "follow__button"

