%p#notice= notice

%main.main-container
  %header.outer-container
    .event__header
      %h4
        = link_to @event.venue.name, @event.venue
      %h1
        = @event.title

  %section.outer-container
    .event
      .outer-container
        = event_flyer_image(@event)
        .event__info
          .outer-container
            .event__info__date
              = fa_icon "calendar"
              = format_date(@event.start_date)
            .event__info__time
              = fa_icon "clock-o"
              = format_time(@event.start_time)
          .event__info__description
            = @event.description
          - if @event.event_link
            .event__info__link
              = link_to "More Info", @event.event_link, class: "button"
          .event__info__tags
            = render @event.tags
          .djs
            %h3 DJs
            - @event.profiles.each do |profile|
              = profile.name
        .event__edit-options
          - if user_signed_in?
            = link_to 'Edit', edit_event_path(@event)
