!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gemlife
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = typekit_include_tag("qxi5llz")
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/packery/2.0.0/packery.pkgd.min.js"
    = javascript_include_tag "https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"
  %body
    = render "layouts/navigation"
    - if flash[:notice]
      .alert.alert-success
        %button{ type: "button", class: "close", data: { dismiss: "alert" } }
          &time
        = flash[:notice]
    - if flash[:error]
      .alert.alert-danger
        %button{ type: "button", class: "close", data: { dismiss: "error" } }
          &time
        = flash[:error]
    - if flash[:alert]
      .alert.alert-warning
        %button{ type: "button", class: "close", data: { dismiss: "error" } }
          &time
        = flash[:error]
    = yield
    = render "layouts/footer"
